<%= bootstrap_form_with(model: [project, ticket], local: true, label_errors: true) do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :description %>

  <div class="form-group tags">
    <%= label_tag :tag_names, "Tags" %>
    <%= render @ticket.tags %>
    <%= text_field_tag :tag_names, "", class: "form-control" %>
  </div>

  <div class="dropzone uploader" data-url="<%= upload_file_project_tickets_path(project) %>"></div>
  <br />

  <%= form.primary %>
<% end %>
